<nav class="navbar-expand bg-light">

    <div class="container navbar bg-light ">
        <div>
            <ul class="navbar-nav mr-auto ">
                <a class="logOut btn btn-block btn-danger disabled" routerLink="">Salir</a>

                <li class="nav-item">
                    <a class="nav-link disabled" routerLink="" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" routerLink="" routerLinkActive="active">Perfil</a>
                </li>

            </ul>
        </div>

        <div class="d-flex">
            <input #txtBuscar class="form-control mr-2 disabled" type="search" placeholder="Buscar libro" aria-label="Search">
            <button class="btn btn-block btn-primary disabled" type="submit">Buscar</button>
        </div>
    </div>
</nav>