<div class="container text-center">
    <div class="mt-5">
        <h1>BIENVENIDO A AHKAJUT</h1>
    </div>
    <div class="row mt-5">
        <div class="col-6 card mt-5">
            <div class="row justify-content-center">
                <div class="col-6"> TEXTO</div>
                <img class="col-6" src="https://www.adslzone.net/app/uploads-adslzone.net/2019/04/borrar-fondo-imagen.jpg" alt="">
                <button (click)="irCrearQuiz()" class="btn btn-danger col-4">Ir a crear un Quiz</button>
            </div>
        </div>
        <div class="col-6 card mt-5">
            <div class="row justify-content-center">
                <div class="col-6"> TEXTO</div>
                <img class="col-6" src="https://www.adslzone.net/app/uploads-adslzone.net/2019/04/borrar-fondo-imagen.jpg" alt="">
                <button (click)="irCrearQuiz()" class="btn btn-danger col-4">Ir a crear un Quiz</button>
            </div>
        </div>
        <div class="col-6 card mt-5">
            <div class="row justify-content-center">
                <div class="col-6"> TEXTO</div>
                <img class="col-6" src="https://www.adslzone.net/app/uploads-adslzone.net/2019/04/borrar-fondo-imagen.jpg" alt="">
                <button (click)="irCrearQuiz()" class="btn btn-danger col-4">Ir a crear un Quiz</button>
            </div>
        </div>
        <div class="col-6 card mt-5">
            <div class="row justify-content-center">
                <div class="col-6"> TEXTO</div>
                <img class="col-6" src="https://www.adslzone.net/app/uploads-adslzone.net/2019/04/borrar-fondo-imagen.jpg" alt="">
                <button (click)="irCrearQuiz()" class="btn btn-danger col-4">Ir a crear un Quiz</button>
            </div>
        </div>

    </div>
</div>



<div class="container text-center mt-5">
    <button class="btn btn-primary " (click)="irPreguntas()">Ir a preguntas</button>
</div>